.cta-section{
    background:#f5f6f7;
    padding-top:80px;
}

.brand{
    color:#ff6a00;
}

.location-icon{
    position:absolute;
    top:-35px;
    left:50%;
    transform:translateX(-50%);

    width:75px;
    height:75px;

    background:#ff6a00;
    color:white;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;
    font-size:34px;

    box-shadow:0 12px 25px rgba(0,0,0,0.15);
}

.cta-section h2{
    font-size:2rem;
}

.cta-section .lead{
    max-width:600px;
    margin:auto;
    font-size:1.1rem;
}

.btn-primary{
    background:#ff6a00;
    border:none;
}

.btn-primary:hover{
    background:#e55d00;
}
